
<div class="container">
	<div class="row">
		<h4>Introduction</h4>
		<p>
			In this tutorial, Subgroup Discovery (SGD) is used to discover simple
			descriptors for predicting whether an octet binary material
			crystallizes in rocksalt or zincblende crystal structures. SGD is a
			data-mining technique that is used to identify and describe local
			patterns in complex (materials-science) data. SGD requires the
			definition of a few ingredients.
			<!-- 			 The main components of subgroup -->
			<!-- 			discovery are: -->
		</p>
		<!-- 		<ol> -->
		<!-- 			<li>the design of a description language for identifying -->
		<!-- 				subpopulations of a given pool of data;</li> -->
		<!-- 			<li>the definition of utility functions that formalize the -->
		<!-- 				interestingness (quality) of subpopulations according to some -->
		<!-- 				desired target property;</li> -->
		<!-- 		</ol> -->
		<ul>
			<li><b>A target property</b> according to which groups must show
				special characteristics. Here, the default choice is the sign of
				this energy difference between RS and ZB crystal structure for a
				given material, i.e., the classification between the two crystal
				structures.</li>
			<li><b>An utility function</b> that quantifies how useful or
				interesting is the distribution of the target property in the
				subgroup. Here, the default choice is the gain in Shannon entropy,
				i.e., the algorithm will search for subgroups that have a lower
				entropy than the global population. For example, with a binary
				target property like the classification RS/ZB, the algorithm will
				search for subgroups containing only RS or only ZB.</li>
			<li><b>A set of descriptive features</b> from which selectors of
				subgroups are constructed. Here, we have selected properties of the
				gas-phase atoms building the material, i.e., electron affinity and
				ionization potential, radial extension of s, p, d valence orbitals,
				etc. The list of available features can be seen by clicking
				"datatable" (top right of the window).</li>
		</ul>

		<p>
			SGD will mine the data for subgroups that optimize the utility
			functions and at the same time cover (contain) as many materials as
			possible. The groups are described by combining one ore more Boolean
			statements on the features (e.g., <i>"the electron affinity of
				atom A, the cation</i>, is low"). The list of statements for each
			feature can be seen by clicking "Propositions" (top right of the
			window). Note that, in this tutorial, all features referring to a
			length (energy) are expressed in angstroms (electronvolts).
		</p>

		<!-- A more detailed introduction to SGD can be found here [wiki page to be done] -->
	</div>
	<div class="row">
		<h4>Step-by-step Instructions</h4>
		<div class="col-md-6 col-lg-8">
			<p>
				In order to set parameters for the calculations and run SGD, <b>click
					"Mine"</b>. In the popup input mask, we have provided a set of default
				choices that lead to an interesting discovery. One can select:
			</p>
			<ul>
				<li><b>The target property (target variable).</b> That is,
					whether to use the sign of the energy difference between RS and ZB,
					a 3-bin discretization of the energy difference ("RS", "ZB", and
					"0" meaning the absolute energy difference is less than 0.05 eV),
					or directly the numerical value of the energy difference. Note that
					this selection determines the utility function, which is Shannon
					entropy reduction for categorical properties and the standard
					deviation reduction for the numerical energy difference.</li>
				<li><b>The features to be excluded with the feature filter
						(attribute filter).</b> Each feature selected in the drop-down menu
					will be excluded from the algorithm search.</li>
				<li><b>The number of seeds.</b> That is, how many times the
					random search is re-initialized from a new starting point. The
					higher this number the higher the probability to find all the
					relevant subgroups. However, the computational time scales linearly
					with this number.</li>
			</ul>
		</div>
		<div class="col-md-6 col-lg-4">
			<figure>
				<img src="file.htm?filename=image_help_tutorial_controls.png"
					width="100%">
				<figcaption>Controls of subgroup discovery. Run
					algorithm by clicking "execute" or change settings before (check
					parameter tooltips to learn more about individual options).</figcaption>
			</figure>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-lg-8">
			<p>
				After <b>clicking "execute"</b>, the results are summarized in the
				right column. Each tab describes a subgroup found by the SGD
				algorithm (see picture right).
			</p>
			<p>
				You can <b>visualize the materials covered by a subgroup</b> in the
				scatter plot by clicking the "filter data view" icon (crosshair-icon
				in item-group at top right of each tab). The magnifying-glass-icon next to it opens
				a window with a complete list of materials covered by the subgroup,
				and the x-icon on the right allows to delete the subgroup. Note that
				it is often interesting to <b>change the visualization axes</b> by
				clicking the "chart context menu" (bottom right of the scatter plot)
				and the select "change parameters".
			</p>
			<p>
				Re-run the algorithm with the same or changed settings to find more
				results. Before, <b>save interesting subgroups</b> by dragging them
				into the result area underneath the scatter-plot/table.
			</p>
		</div>
		<div class="col-md-6 col-lg-4">
			<figure>
				<img src="file.htm?filename=image_help_tutorial_result.png"
					width="100%">
				<figcaption>Result subgroup covering 39 out of 41
					rocksalt materials and not zinkblende material. Consequently, the
					utility (entropy gain) is 1 and the coverage (frequency) is 0.476.</figcaption>
			</figure>
		</div>
	</div>

	<!-- [And so on, could you continue by describing what is shown in the tabs?] -->

	<!-- Scatter plot controls. The axes can be changed by clicking the "chart context menu" (bottom right of the plot) and the select "change parameters". -->
	<!-- [... and so on. Can you continue?] -->


</div>
